<html>

<head>
    <meta property="og:description" content="Information for the Harborne Ward Jazz Jammers" />
    <title>Harborne Ward Jazz</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="index.bundle.js"></script>

</head>

<body>
    <div class="container">
        <h1>Harborne Ward Jazz</h1>
        <p>
            This is the site for Harborne Ward Jazz. <a href="https://www.facebook.com/groups/101636824037758">Click
                here for our facebook group</a>
        </p>
        <table id="song-table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Key</th>
                    <th>Youtube Link</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="song in songs">
                    <td>{{ song.name }}</td>
                    <td>{{ song.key }}</td>
                    <td><a v-bind:href="song.youtube.link">{{song.youtube.description}}</a></td>
                    <td>{{ song.source }}</td>
                    <!-- <td>{{ commonChords(song.key) }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>