<template>
<div class="song-view">
    <song-info :song-id="songId"></song-info>
    <song-lyrics :song-id="songId"></song-lyrics>
    <div class="chords">
    <ireal-pro-chords :src="CChartImg" transposition="C"></ireal-pro-chords>
    <ireal-pro-chords :src="BbChartImg" transposition="Bb"></ireal-pro-chords>
    </div>
</div>
</template>

<script>
export default {
  props: ["song-id"],
  computed: {
    songs: function() {
      return require("./songs").songs;
    },
    CChartImg: function() {
      return this.songs.getIn([this.songId, "CChartImg"]);
    },
    BbChartImg: function() {
      return this.songs.getIn([this.songId, "BbChartImg"]);
    }
  }
};
</script>

<style scoped>
.chords {
  text-align: center;
}
</style>



